.hero {
  background-image: url(../img/backgraund.jpg);
  width: 1248px;
  height: 600px;
  margin-left: 50px;
  border-radius: 10px;
}
.hero_logo {
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 33px;
  font-weight: 500;
  padding-top: 226px;
  padding-left: 35px;
  line-height: 43px;
  letter-spacing: 0%;
}
.hero_buy {
  font-family: "DM Sans", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 26px;
  padding-left: 35px;
}
.hero_button {
  background-color: rgba(250, 235, 215, 0);
  border-radius: 6px;
  border: 2px solid white;
  width: 193px;
  height: 53px;
  margin-left: 35px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-family: 700;
  font-size: 15px;
}
.hero_fon_img {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header_logo {
  font-family: "Allerta Stencil", sans-serif;
  width: 158px;
  height: 40px;
  font-weight: 400;
  font-size: 35px;
  padding-left: 56px;
}
.header_conteuner {
  display: flex;
  list-style: none;
  border: 1px;
  height: 27px;
  gap: 50px;
  margin-right: 56px;
}
.header_item {
  position: relative;
}
.header_item:hover {
  color: #A18A68;
  cursor: pointer;
}
.header_buttons {
  display: flex;
  list-style: none;
  gap: 39px;
}
.header_span {
  display: block;
  width: 1px;
  height: 17px;
  background-color: #707070;
}

.header__menu,
.header__toggle {
  display: none;
}

@media (max-width: 768px) {
  .header__toggle {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
  }
  .header__toggle:hover {
    cursor: pointer;
  }
  .header__toggle span {
    top: 15px;
  }
  .header__toggle span,
  .header__toggle span::before,
  .header__toggle span::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    display: block;
    background-color: white;
    right: 0;
  }
  .header__toggle span::before {
    top: -8px;
  }
  .header__toggle span::after {
    top: 8px;
  }
  .header__navigation {
    display: none;
  }
  .header__menu:checked ~ .header__navigation {
    display: block;
  }
  .header__menu:checked ~ .header__toggle span {
    transform: rotate(-45deg);
  }
  .header__menu:checked ~ .header__toggle span::before {
    top: 0;
    transform: rotate(0);
  }
  .header__menu:checked ~ .header__toggle span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header_navigation {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(68, 65, 65);
  }
  .header_conteuner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
.menu_divlogo {
  display: flex;
  justify-content: space-between;
}
.menu_logo {
  font-family: "DM Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  margin-top: 64px;
  margin-left: 56px;
}
.menu_button {
  background-color: rgba(127, 255, 212, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #A18A68;
  font-size: 20px;
  font-weight: 500;
  margin-right: 56px;
  margin-top: 46px;
}
.menu_title {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 56px;
  margin-right: 56px;
}
.menu_item {
  width: calc((100% - 100px) / 3);
  width: 30%;
  margin-top: 29px;
}
.menu_buy {
  font-family: "DM Sans", sans-serif;
  color: #A18A68;
  font-size: 20px;
  font-weight: 500;
}

.footer_conteiner {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  list-style: none;
  gap: 41px;
  margin-left: 16px;
  margin-top: 55px;
}
.footer_component {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 56px;
  margin-top: 63px;
}
.footer_email {
  font-family: "DM Sans", sans-serif;
  margin-left: 948px;
  margin-top: -116px;
}
.footer_icon {
  margin-left: 1048px;
  margin-top: 43px;
}
.footer_div {
  margin-top: 256px;
  border: 1px solid #D8D8D8;
  margin-left: 56px;
  margin-right: 56px;
}
.footer_line {
  border: 1px solid black;
  margin-left: 948px;
  margin-right: 56px;
}
.footer_img {
  margin-left: 50px;
}/*# sourceMappingURL=main.css.map */