.footer{
   &_conteiner{
         font-family: "DM Sans", sans-serif;
         font-size: 16px;
        font-weight: 400;
        display: flex;
        list-style: none;
        gap: 41px;
        margin-left: 16px;
        margin-top: 55px;
    }
    &_component{
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: 56px;
        margin-top: 63px;
    }
    &_email{
        font-family: "DM Sans", sans-serif;
        margin-left: 948px;
        margin-top: -116px;
    }
    &_icon{
        margin-left: 1048px;
        margin-top: 43px;
        cursor: pointer;
    }
    &_div {
        margin-top: 256px;
        border: 1px solid #D8D8D8;
        margin-left: 56px;
        margin-right: 56px;
    }
    &_line{
        border: 1px solid black;
        margin-left: 948px;
        margin-right: 56px;
        position: relative;
    }
    &_img{
        margin-left: 50px;
    }
    &_item:hover{
        color: #A18A68;
        cursor: pointer;
    }
}