.header{
    display: flex;
    justify-content: space-between;
    &_logo{
        font-family: "Allerta Stencil", sans-serif;
        width: 158px;
        height: 40px;
        font-weight: 400;
        font-size: 35px;
       padding-left: 56px;
    }
    &_conteuner{
        display: flex;
        list-style: none;
        border: 1px;
       height:27px ;
       gap: 50px;
       margin-right: 56px;
    }
    &_item{
        position: relative;
    }
    &_item:hover{
        color: #A18A68;
        cursor: pointer;
    }
    &_buttons{
        display: flex;
        list-style: none;
        gap: 39px;
    }
    &_span{
        display: block;
        width: 1px;
        height: 17px;
        background-color: #707070;
    }
}
